/* Font declarations */
$app-font-family-title: 'Roboto Condensed Regular';
$app-font-family-subtitle: 'Roboto Condensed Light';
$app-font-family: 'Roboto Regular';

/* Color declarations */
$app-background-color: #fafafa;
$app-background-color-white: #ffffff;
$app-background-color-modal: #e3b6ebb3;
$app-font-color: #333333;
$app-font-color-white: #ffffff;
$app-font-color-faded: #808080;
$app-font-color-placeholder: #757575;
$app-border-color: #f0f0f0;
$app-outline-color: #ea007140;

$app-button-color-primary: #bb00ea;
$app-button-color-primary-hover: #c537ea;
$app-button-color-primary-active: #a100c9;

$app-button-color-alternative: #ea0070;
$app-button-color-alternative-hover: #e72b86;
$app-button-color-alternative-active: #c70060;
