/* Font declarations */
$app-font-family-title: 'Roboto Condensed Regular';
$app-font-family-subtitle: 'Roboto Condensed Light';
$app-font-family: 'Roboto Regular';

/* Color declarations */
$app-background-color: #fafafa;
$app-background-color-white: #ffffff;
$app-font-color: #333333;
